@using HotelModels;
@model List<User>

@{int count = 1; }
<table class="table">
    <thead>
        <tr>
            <th scope="col">Num</th>
            <th scope="col">userName</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Nationality</th>
            <th scope="col">Status</th>
            <th scope="col">Block</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User u in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@u.UserName</td>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.Nationality</td>
                <td>@u.Status</td>
                <td>
                    @Ajax.ActionLink("Block", "Block", new { id = u.ID },
                    new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContainerOfGuestsList" }
                    , new { @class = "btn btn-primary" })
                </td>
            </tr>
            count++;
        }

    </tbody>
</table>
